@import "./src/scss/vars";

&*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: $color-dark;
  background-color: $color-white;
  -webkit-tap-highlight-color: transparent;
}

main, section {
	display: block;
}

img {
  max-width: 100%;
  border: 0;
}

&:focus {
  outline: none;
} 

button, input, textarea, select {
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
  background: none;
  cursor: pointer;
}

@import "./src/components/Button/button";
@import "./src/components/TextField/textfield";
@import "./src/components/Nav/Nav";
@import "./src/components/profile/Avatar/avatar";
@import "./src/components/chats/Sidebar/sidebar";
@import "./src/scss/back-btn";
@import "./src/pages/signup/style";
@import "./src/pages/signin/style";
@import "./src/pages/profile/style";
@import "./src/pages/chats/style";
@import "./src/pages/error/style";
@import "./src/components/modals/AddChatModal/styles";
@import "./src/components/modals/AddUserModal/styles";
