@import "./src/scss/vars.scss";

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $color-dark;
  background-color: $color-white;

  -webkit-tap-highlight-color: transparent;
}

main, section {
	display: block;
}

img {
  max-width: 100%;
  border: 0;
}

:focus {
  outline: none;
} 

button, input, textarea, select {
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
  background: none;
  cursor: pointer;
}

@import "./src/components/Button/button.scss";
@import "./src/components/TextField/textfield.scss";
@import "./src/components/Nav/Nav.scss";
@import "./src/components/profile/Avatar/avatar.scss";
@import "./src/components/chats/Sidebar/sidebar.scss";
@import "./src/scss/back-btn.scss";


@import "./src/pages/signup/style.scss";
@import "./src/pages/signin/style.scss";
@import "./src/pages/profile/style.scss";
@import "./src/pages/chats/style.scss";
@import "./src/pages/error/style.scss";

@import "./src/components/modals/AddChatModal/styles.scss";
@import "./src/components/modals/AddUserModal/styles.scss";
