.sidebar {
  display: flex;
  flex-direction: column;
  background-color: $color-dark;
  align-items: flex-start;
  min-width: 310px;

  &__top {
    display: flex;
    width: 100%;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
  }
  
  &__btn {
    color: $color-white;
    margin: 21px 10px 23px 0;
    align-self: flex-end;
    text-decoration: none;
    font-size: 14px;
  }

  &__add-btn {
    color: $color-white;
    font-size: 14px;
    height: 35px;
    line-height: 1;
    padding: 0 10px;
  }

  &__search {
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    padding-left: 10px;
    height: 35px;
    width: calc(100% - 20px);
    background-color: $color-white;
    color: $color-dense;
    margin: 0 10px 24px 10px;
  }

  &__chats {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
  }
}

.chat-card {
  display: grid;
  grid-template: 
    'avatar top' auto
    'avatar bottom' 1fr
    / 47px 1fr;
  column-gap: 10px;
  row-gap: 4px;
  padding: 13px 10px;
  color: $color-white;
  cursor: pointer;

  &:hover {
    background-color: $color-secondary-transparent;
  }

  &_active {
    background-color: $color-secondary;

    &:hover {
      background-color: $color-secondary;
    }
  }

  &__avatar {
    background-color: $color-primary;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    grid-area: avatar;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__top {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    grid-area: top;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    grid-area: bottom;
  }

  &__name {
    font-size: 13px;
    line-height: 1;
    font-weight: 600;
  }

  &__last-message {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    text-align: start;
  }

  &__time {
    font-size: 8px;
    line-height: 1.2;
    color: $color-dense;
  }

  &__unread-count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    min-width: 20px;
    border-radius: 50%;
    background-color: $color-primary;
    font-size: 11px;
    line-height: 1.1;
    font-weight: 500;
    align-self: flex-end;
  }
}

@import "../ChatMenu/styles.scss";
