.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: $color-dense;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('/static/images/upload.png') no-repeat center;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    z-index: 3;
  }
  
  &__image {
    position: absolute;
    object-fit: cover;
    min-height: 100%;
    z-index: 2;
  }

  &__input {
    display: none;
    height: 0px;
  }
}

