.field {
  width: 100%;
 
  &__error-text {
    opacity: 0;
    color: $color-red;
    font-size: 10px;
    line-height: 1;
    margin: 3px 0 5px;
    min-height: 10px;
  }

  &__label {
    font-size: 9px;
    line-height: 1;
    font-weight: 500;
    color: $color-white;
    margin-bottom: 5px;
  }

  &__input {
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    padding-left: 10px;
    height: 35px;
    width: 100%;
    border: 1px solid $color-primary;
    color: $color-white;

    &_invalid {
      color: $color-red;
      border: 1px solid $color-red;

      & + .field__error-text {
        opacity: 1;
      }
    }
  }

  &_dark {
    .field__label {
      color: $color-dark;
    }
  
    .field__input {
      color: $color-dark;
    }
  }
}
