.chat-card {
  display: grid;
  grid-template: 
    'avatar top' auto
    'avatar bottom' 1fr
    / 47px 1fr;
  column-gap: 10px;
  row-gap: 4px;
  padding: 13px 10px;
  color: $color-white;
  cursor: pointer;

  &--active {
    background-color: $color-secondary;
  }

  &__avatar {
    background-color: $color-primary;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    grid-area: avatar;
  }

  &__top {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    grid-area: top;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    grid-area: bottom;
  }

  &__name {
    font-size: 13px;
    line-height: 1;
    font-weight: 600;
  }

  &__last-message {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    text-align: start;
  }

  &__time {
    font-size: 8px;
    line-height: 1.2;
    color: $color-dense;
  }

  &__unread-count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    min-width: 20px;
    border-radius: 50%;
    background-color: $color-primary;
    font-size: 11px;
    line-height: 1.1;
    font-weight: 500;
    align-self: flex-end;
  }
}
