// ---------------------------- colors
$color-dark: #30363A;
$color-white: #FFFFFF;
$color-dense: #6B777C;
$color-red: #DA552F;

$color-primary: #AC76F0;
$color-secondary: #18AB99;

$color-secondary-transparent: #18ab991a; 
$color-primary-transparent: #ad76f025; 

$background-light: $color-white;
$background-dark: $color-dark;
