// ---------------------------- colors
$color-dark: #30363A;
$color-white: #FFFFFF;
$color-dense: #6B777C;
$color-red: #DA552F;

$color-primary: #AC76F0;
$color-secondary: #18AB99;

$background-light: $color-white;
$background-dark: $color-dark;