.nav {
  &__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    color: $color-white;
    text-decoration: none;
    font-size: 13px;
    line-height: 1;
    font-weight: 500;

    &:hover {
      color: $color-primary;
    }
  }
}
