.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color-dark;
  text-align: center;

  &__title {
    font-size: 60px;
    line-height: 1;
    color: $color-white;
    font-weight: 500;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 1;
    color: $color-white;
    font-weight: 500;
    margin-bottom: 69px;
  }

  &__link {
    font-size: 11px;
    line-height: 1;
    color: $color-secondary;
    font-weight: 500;
    text-decoration: none;
  }

  &__button {
    color: $color-white;
    font-size: 20px;
  }
}
